.nav-link-2
{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 400;
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    color: white;
}

.nav-bar-2
{
    background-color: #161718;
    height:100px;
}
.toggled
{
  background-color: white;
}
.img-fluid-logo
{
    width:250px;
    margin-top:-05px;
    margin-left:-20px;
}

@media screen and (max-width: 1000px) {
    .nav-bar-2
{
    height:auto;
}
.toggled
{
  margin-top: -20px;
}
.img-fluid-logo
{
    width:180px;
    margin-top:0px;
    margin-left:-20px;
}
.nav-option
{
    margin-top: -30px;
}
}
