.Noosh-footer{
    display: flex;
    align-items: center;
    background-color: #161718;
    color: #ffffff;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 100px;
}

.footer-header{
    width: 1436px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-top: 20px;
   
    font-size: 12px;
}

.left-side-footer{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 22px;
    color: #C2C2C2;
    
}

.right-side-footer{
 display: flex;

  
}

.but-1{
    width:130px;
    height: 50px;
    margin: 10px;
    background-color: #161718;
    color: #ffffff;
    border-color: #ffffff;
}


.but-2{
    width:160px;
    height: 50px;
    margin: 10px;
    background-color: #161718;
    color: #ffffff;
    border-color: #ffffff;

}

.footer-middel{
    width: 1436px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
    margin-top: 20px;
    margin-bottom: 20px;
 
}

.footer-middel-main{
    display: flex;
    flex-direction: row;
   justify-content: flex-start;
   align-items: center;
width: 1268px;
height: 40px;

 
}


.logo-img{
    width: 100px;
    height:30px;
    
}

.middele-content{
    margin-left: 2rem;
    font-size: 10px;
    line-height: 14px;
    color: #C2C2C2;
}

.social-media-link{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   align-items: center;
}
.s-m-l{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #C2C2C2;
    color: #161718;
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: center;
   margin: 10px;
}
.applelogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.horizontal-line{
    width:1350px;
    justify-content: center;
    align-items: center;
}
.nav-li{
    color: #ffffff;
}

.s-m-l-logo{
    display: flex;
   justify-content: center;
   align-items: center;
   color:#161718;
   width: 20px;
}
@media screen and (max-width: 768px) {
    .Noosh-footer{
        width: auto;
        height: auto;
        align-items: center;
    }
    .footer-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
    }
    .footer-middel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        
    }
    .left-side-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
    }
    .right-side-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;}
    .but-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .but-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .footer-middel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
    }
    .footer-middel-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
    }
    .middele-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 14px;
    }
    .social-media-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin-bottom: 20px;
    }
    .s-m-l{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
    }
    .nav-li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        font-size: 14px;
    }
}